<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>excemple</title>
</head>
<body>
    <div th:if="${param.error}">
        user or pwd is wrong
    </div>
    <div th:if="${param.logout}">
        u r logout
    </div>
    <form th:action="@{/login}" method="post">
        <div><label>user : <input type="text" name="username"/></label></div>
        <div><label>pwd : <input type="password" name="password"/></label></div>
        <div><input type="submit" value="long in"/></div>
    </form>
</body>
</html>